.App {
    text-align: center;
}

.App-logo {
    height: 15vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.flex-container {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-vertical {
    flex-direction: column;
}

.flex-centered {
    align-items: center;
    justify-content: space-evenly;
}

.bg-lighter-gray {
    background-color: whitesmoke;
}

.bg-light-gray {
    background-color: gainsboro;
}

.card {
    background-color: ghostwhite;
    width: 10%;
    margin: 1em;
}
